__pycache__
venv
*.log
.vscode
elasticsearch-analysis-ansj-6.2.1.0-release.zip
elasticsearch-sql-6.2.1.1.zip
.idea
.DS_Store
*.pkl
elasticsearch-analysis-pinyin-6.2.1.zip
*.pyc
data
result.json
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db
apidoc
package-lock.json
tmp
schema.mdj
random_insert_matrix_test.py
~$*.docx
tmp.docx
*.docx
filebrowsser.yml
composes/enhance_security
output
tmp.py